<!DOCTYPE html>
<html lang="en">
<head>
  <title>Not Found</title>
</head>
<body>
        <h2 class="h1">Sorry! Page not found. Possible names:</h2>
        <hr>
        <div aligh="center">
          <p><strong>Did you mean?</strong></p>
          <p>{{suggest[1]}}</p>
          <p>{{suggest[2]}}</p>
          <p>{{suggest[3]}}</p>
          <p>{{suggest[4]}}</p>
          <p>{{suggest[5]}}</p>
          <p>{{suggest[6]}}</p>
          <p>{{suggest[7]}}</p>
        </div>
      
    <hr>
      <a class="button" onClick="goBack()"><i class="fas fa-home"></i> Go Back to Home Page &amp; Try Again.</a>
</body>
<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>