<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Movie Recommender</title>
</head>

<body>
  <div class="movie">
    <h2><strong>Recommendations:</strong></h2>
    <p><strong>Showing results for: {{ search_name }}</strong></p>
    <div aligh="center">
      <p>{{ movie_names[1]}}</p>
      <p>{{ movie_names[2]}}</p>
      <p>{{ movie_names[3]}}</p>
      <p>{{ movie_names[4]}}</p>
      <p>{{ movie_names[5]}}</p>
      <p>{{ movie_names[6]}}</p>
      <p>{{ movie_names[7]}}</p>
      <p>{{ movie_names[8]}}</p>
      <p>{{ movie_names[9]}}</p>
      <p>{{ movie_names[10]}}</p>
    </div>
    <br>
  </div>
</body>

</html>